.encabezado-right{
    float: right;
}
.header {
  
    background-color: #f1f1f1;
    padding: 20px 10px;
  } 
 img { 
        width: 100px; 
        height: 100px; 
        float: left;
        }
 ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color:black;
    }
        
        li {
            float: right;
        }
        
        li a {
            display: block;
            color: blue;
            text-align: center;
            padding: 40px;
            text-decoration: none;
        }   
.side-menu{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
}
.desplegable {
   font-size:30px;
   cursor:pointer"
}
.menu-left{
    width: 200px;
}
.menu-left li a {
    display: block;
    color: blue;
    text-align: center;
    text-anchor: middle;
    padding: 40px;
    text-decoration: none;
}
        
